a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-image: url(./assets/jungleBackground.jpg);
  background-repeat: repeat;
  background-size: 100%;
  justify-content: center;
  text-align: center;
  background-color: papayawhip;
  margin-top: 5rem;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  min-width: 100vw;
}

input {
  display: inline-block;
  width: 20rem;
  text-align: center;
}

h1 {
  color: whitesmoke;
  font-size: 4rem;
  line-height: 1.1;
  margin: 2rem;
}

#animalName {
  display: block;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: green;
  margin: 1rem;
  font-size: x-large;
  line-height: 1.1;
}

.box {
  display: inline-block;
  border: solid;
  border-color: green;
  background-color: whitesmoke;
  min-width: 5rem;
  padding: 1rem;
  margin: 3rem;
  text-align: justify;
}

.buttons p {
  color: wheat;
  display: inline-block;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid green;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  color: wheat;
}
.buttons button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#closing {
  display: none;
  justify-content: right;
}

#likeHeart {
  color: wheat;
}

button:hover {
  background-color: rgb(184, 18, 18);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: rgb(12, 40, 12);
  border-radius: 5%;
}

img {
  border-radius: 5%;
  display: flex;
  margin: auto;
  max-width: 14rem;
  align-items: center;
}

footer {
  color: white;
  padding-top: 15rem;
}

#heart_broken {
  color: red;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
