a {
  font-weight: 500;
  color: papayawhip;
  text-decoration: none;
}

a:hover {
  color: brown;
}

body {
  background-image: url(./assets/jungleBackground.jpg);
  background-size: 100%;
  background-attachment: fixed;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  display: flex;
  margin: 0;
  height: 100vh;
}

nav {
  background-color: rgb(8, 68, 8);
  color: white;
  padding: 10px;
  text-align: center;
  min-width: 100vw;
  height: 4rem;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}
nav h2 {
  margin-right: 0rem;
}

nav h3 {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 1rem;
}

.imagesFrontPage {
  display: auto;
}

.imagesFrontPage img {
  display: block;
  width: 30rem;
  padding: 4rem;
  margin: 1rem;
}
.imagesFrontPage h2 {
  color: whitesmoke;
  font-size: larger;
}

input {
  display: block;
  width: 20rem;
  height: 2rem;
  text-align: center;
  background-color: papayawhip;
  margin: 1rem auto;
}

h1 {
  color: whitesmoke;
  font-size: 4rem;
  line-height: 1.1;
  margin: 2rem;
}

.box {
  display: inline-block;
  border: solid;
  border-color: rgb(8, 68, 8);
  background-color: papayawhip;
  max-width: 16rem;
  padding: 1rem;
  margin: 2rem;
  text-align: justify;
}

.buttons p {
  color: wheat;
  display: inline-block;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(8, 68, 8);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: rgb(8, 68, 8);
  cursor: pointer;
  color: wheat;
  margin: 1rem;
}

.buttons button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#animalName {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: rgb(8, 68, 8);
  margin: 1rem;
  font-size: large;
  line-height: 1.1;
}

#closing {
  background-color: transparent;
  border-color: transparent;
  color: rgb(8, 68, 8);
  cursor: pointer;
}

#likeHeart {
  color: wheat;
}

button:hover {
  background-color: brown;
}

.container {
  display: relative;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: rgb(12, 40, 12);
  border-radius: 5%;
}

.box img {
  border-radius: 5%;
  display: flex;
  margin: auto;
  max-width: 14rem;
  align-items: center;
}

footer {
  color: white;
  padding-top: 10rem;
}

#heart_broken {
  color: red;
}

.singlePageInfo {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.singlePageInfo h2 {
  color: papayawhip;
  text-transform: uppercase;
}
