a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-image: url(./assets/jungleBackground.jpg);
  background-repeat: repeat;
  background-size: 100%;
  justify-content: center;
  text-align: center;
  background-color: papayawhip;
  margin-top: 5rem;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  text-transform: uppercase;
  color: wheat;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid green;
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  color: wheat;
}

#buttonMinus,
#buttonPlus img {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#buttonPlus {
  margin-right: 2rem;
}
#buttonCLose {
  color: red;
}

button:hover {
  background-color: rgb(100, 53, 53);
}

#box {
  display: inline-block;
  border: solid;
  border-color: darkgreen;
  border-radius: 1%;
  background-color: whitesmoke;
  min-width: 5rem;
  min-height: 20rem;
  padding: 1rem;
  margin: 3rem;
  text-align: justify;
}
img {
  display: block;
  max-width: 10rem;
  align-items: center;
}

footer {
  color: white;
  padding-top: 15rem;
}

header {
  color: white;
  font-size: xx-large;
}
.container {
  margin-top: 2rem;
  padding: 1rem;
  width: 10rem;
  text-align: center;
  justify-content: center;
  background-color: grey;
  border-radius: 5%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
